.calendar {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .calendar .rdr-MonthAndYear > div {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
  }
  
  .calendar .rdr-Day--today {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  
  .calendar .rdr-Day--selected {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
  }
  
  .calendar .rdr-Day--disabled {
    color: #ccc;
  }
  
  .calendar .rdr-Day--inRange {
    background-color: #f2f2f2;
  }
  