.available-reservations {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'BrandonText', Arial, sans-serif;
  font-size: 14px;
}

.reservation-button {
  display: inline-block;
  background-color: #da3743;
  border-radius: 5px;
  border-width: 0px;
  width: 24%;
  height: 27px;
  margin-top: 5px;
  margin-left: 5px;
  margin: 5px;
  font-family: 'BrandonText-Bold', Arial, sans-serif;
  color: white;
}

.reservation-button .reservation-time {
  display: inline-block;
  font-size: 14px; /* Adjust the font size as needed */
  margin: 5px; /* Add margin to the sides of the link text */
}

.find-reservation-button:hover {
  cursor: pointer;
}

.reservation-button:hover {
  background-color: #b32c3b;
  cursor: pointer;
}

