.available-reservations {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'BrandonText', Arial, sans-serif;
  font-size: 14px;
}

.reservation-button {
    background-color: #da3743;
    border-radius: 5px;
    border-width: 0px;
    width: 24%;
    height: 32px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'BrandonText-Bold', Arial, sans-serif;
    color: white;
  }

  .find-reservation-button:hover {
    cursor: pointer;
  }

  .reservation-button:hover {
    background-color: #b32c3b;
    cursor: pointer;
  }