.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #17254d, #5f6984);
  padding: 8px;
  height: 223px;
}

.search-box-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.search-box {
  display: flex;
  position: relative;
  background-color: white;
  padding: 8px;
  border-width: 1px;
  border-radius: 3px;
  height: 30px;
  width: 300px;
  margin-top: 10px;
  margin-right: 10px;
}

.textbox {
  border: none;
  height: 15px;
}

.search-button {
  background-color: #da3743;
  border-radius: 5px;
  border-width: 0px;
  width: 144px;
  height: 48px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'BrandonText-Bold', Arial, sans-serif;
  font-weight: bolder;
  color: white;
}

.splash-title {
  margin-bottom: 5px;
  font-size: 42px;
  font-family: 'BrandonText-Bold', Arial, sans-serif;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.suggestions-list {
  position: absolute;
  top: 46px;
  left: 0;
  width: 300px;
  height: 150px; /* Set the desired height */
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow-y: scroll; /* Enable vertical scrolling */
  color: black;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}
