.footer {
  position: absolute;
  width: 100vw;
  background-color: #1a274f;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh; /* Make the footer content at least the height of the viewport */
}

.footer p {
  margin: 5px;
  font-size: 14px;
  color: #888;
}