   .button-group {
    display: inline-block;
  }

  .update-review {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }