html, body, .profile-page {
  height: 100%;
  margin: 0;
  padding: 0;
}
.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2f4;
  min-height: 45vh; /* Add this line */
}


.profile-header {
  margin-left: 16%;
}

.profile-header h1 {
  margin-top: 20px;
  font-size: 30px;
}


.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
  flex: 1 0 auto;
  min-height: calc(100vh - 1000px);
}

.reservations-section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


.profile-nav-bar-wrapper {
  flex-shrink: 0;
}

.profile-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-nav-bar button {
  min-width: 200px;
  height: 50px;
  border: none;
}

.profile-nav-bar button:hover {
  color: #da3743;
}

.profile-nav-bar button.active {
  font-weight: bold;
}

.profile-reservations-container {
  display: flex;
  justify-content: space-between;
}

.profile-reservation-wrapper {
  display: flex;
}

.guest-count {
  display: flex;
}

.profile-date {
  display: flex;
}

.profile-reservation-image {
  aspect-ratio: 1;
  width: 30%;
  height: 80%;
  object-fit: cover;
  /* margin: 20px; */
  border-radius: 4px;
}

.profile-reservation-info {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px; /* Add this line */
  border-left: 10px;
  font-family: 'BrandonText-Bold', Arial, sans-serif;
}

.num-of-guests-icon{
  background-color: transparent;
  border: none;
  height: 15px;
  margin-right: 5px;
}

.calendar-icon{
  background-color: transparent;
  border: none;
  height: 15px;
  margin-right: 5px;
}


.profile-reservation-buttons {
  display: inline-block;
  background-color: #da3743;
  border-radius: 5px;
  border-width: 0px;
  width: 40%;
  height: 35px;
  margin-left: 5px;
  margin: 5px;
  font-family: 'BrandonText-Bold', Arial, sans-serif;
  color: white;
}

.upcoming-reservations-container,
.past-reservations-container {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  margin-left: 20px;
  width: 60%;
  max-width: 40%;
}

.user-reservation {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.user-reservation.selected {
  border: 2px solid #da3743;
  border-radius: 5px;
}

.update-form-container {
  position: absolute;
  right: 300px;
}

.calendar {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: auto;
  z-index: 1;
}

.datetime-container {
  display: flex;
  align-items: center;
}

.datetime-container > div {
  margin-right: 10px;
}

button.profile-reservation-buttons {
  margin-top: 10px;
}

.update-time {
  margin-top: 50px;
}
