.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center; /* Add this line to center the input horizontally */
}

h1 {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}
span{
  font-size: 18px;
  font-weight: bolder;
}

form {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  color: red;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 93%;
  padding: 8px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form button {
  width: 90%;
  height: 40px;
  background-color: #da3743;
  border-radius: 3px;
  border-width: 0px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin:  auto; /* Center the button horizontally */
  display: block; /* Ensures the button occupies the full width */
  margin-top: 5px;
}

.error-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
}

.error-item {
  text-align: center;
}